/venv/
.idea
/Model/Train/images/
/Parse/images/hedgehog/
/Parse/images/weasel/
/Model/logs/train/
/Model/logs/validation/
/Model/data/
/Parse/images/
/Model/Save_model/
/Model/Results_of_predicts/hedgehog_false.txt
/Parse/images/hen/
/Parse/images/horse/
/Parse/images/squirrel/
/Parse/images/duck/
/Parse/images/grey_owl/
/Parse/images/hedgehog/
/Parse/images/spotted_woodpecker/
/Parse/images/weasel/
/Model/Train/duck/
/Model/Train/grey_owl/
/Model/Train/hedgehog/
/Model/Train/spotted_woodpecker/
/Model/Train/weasel/
