/venv/
.idea
/Model/Train/images/
/Model/Train/hedgehog/
/Model/Train/weasel/
/Model/logs/train/
/Model/logs/validation/
/Model/data/
/Parse/images/
/Model/Save_model/
/Model/Results_of_predicts/hedgehog_false.txt
